<% provide(:title, "Membership page") %>
<p>Membership</p>


<% if admin_user? %>
        <h2>Admin membership page</h2>
        <%= link_to 'Membership options', membership_options_path, class: "btn btn-lg btn-primary" %>
<% else %>
    <div>
        <div>
            <% if @user.membership.memtype %>
                <% if @membership_options.find_by_title(@user.membership.memtype) %>
                        <%= form_for(@membership_options.find_by_title(@user.membership.memtype)) do |f| %>
                        <%= f.label :title %>
                        <%= f.text_field :title,readonly: true, class: 'form-control' %>
                        <%= f.label :description %>
                        <%= f.text_field :description,readonly: true, class: 'form-control' %>
                        <%= f.label :price %>
                        <%= f.text_field :price, readonly: true, class: 'form-control' %>
                        <% end %>
                <% end %>
            <% end %>
        </div>
        <section class="membershipt_form">
            <%= render 'shared/membership_form' %>
        </section>
    </div>
<% end %>

