<p id="notice"><%= notice %></p>
<% if current_user && admin_user? %>
  <p>
    <strong>Name:</strong>
    <%= @message.name %>
  </p>
  
  <p>
    <strong>Phone:</strong>
    <%= @message.phone %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= @message.email %>
  </p>
  
  <p>
    <strong>Messagebody:</strong>
    <%= @message.messagebody %>
  </p>
  
  <%= link_to 'Back', messages_path %>
<% end %>